<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572513890000-u25plohkl71p6am6ltqgkhn81j9ir1od.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572513890000-u25plohkl71p6am6ltqgkhn81j9ir1od</string>
	<key>API_KEY</key>
	<string>AIzaSyBH8d1tjVWhsh7cpl08w7BecVFI37Fk4xM</string>
	<key>GCM_SENDER_ID</key>
	<string>572513890000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.pmobiles.bonkers</string>
	<key>PROJECT_ID</key>
	<string>bonkers-e1eed</string>
	<key>STORAGE_BUCKET</key>
	<string>bonkers-e1eed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572513890000:ios:ceec1644a6d4264f9378d5</string>
</dict>
</plist>